<ngl-alert variant="error">
  <h2>This is synthetic data. No real patient data has been exposed.</h2>
</ngl-alert>
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <h2>VulcanUI</h2>
</div>

<div class="content" role="main" fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex="33" [fxFlexOffset]="flexSearchOffset">
    <ngl-input label="Patient Identifier">
      <input ngl type="input" placeholder="Enter Patient Id Here" [(ngModel)]="patientId">
      <br><br>
      <button type="button" nglButton variant="brand" (click)="searchVulcan()">Submit</button>
    </ngl-input>
  </div>
  <div fxFlex fxFlexOffset="5" *ngIf="patient">
    <h3 class="bt">Patient Information</h3>
    <div class="box">
      <p><strong>Name:</strong> {{patient.name}}</p>
      <p><strong>Age:</strong> {{patient.age}}</p>
      <p><strong>Gender:</strong> {{patient.gender}}</p>
    </div>
    <br>
    <h3 class="bt">Phenotype Observations</h3>
    <div class="phenotypes-table">
      <table class="slds-table_bordered slds-max-medium-table_stacked-horizontal slds-table_fixed-layout"
             ngl-datatable [data]="this.patient.observations" trackByKey="rank">
        <ngl-datatable-column heading="HPO Term Id" key="code" sortable></ngl-datatable-column>
        <ngl-datatable-column heading="HPO Term Name" key="name" sortable></ngl-datatable-column>
        <!-- No rows overlay-->
        <ng-template nglNoRowsOverlay>No data available in table!</ng-template>
      </table>
    </div>
  </div>
</div>


