<ngl-alert variant="error">
  <h2>This is synthetic data. No real patient data has been exposed.</h2>
</ngl-alert>
<div class="toolbar" role="banner">
  <h2 class="title">HPO on FHIR [http://vulcan.clinicalprofiles.org:8080/]</h2>
  <div class="spacer"></div>
  <img
    width="100"
    alt="hpo"
    src="https://octri.ohsu.edu/hpo_on_fhir/images/hpo.png"
    style="float:right"
  />
  <img
    width="100"
    alt="fhir"
    src="https://octri.ohsu.edu/hpo_on_fhir/images/fhir.png"
    style="float:right"
  />
</div>

<div class="content" role="main" fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex="33" [fxFlexOffset]="flexSearchOffset">
    <ngl-select label="FHIR Patient" fieldLevelHelpTooltip="Some helpful information">
      <select ngl [formControl]="formControl">
        <option value="" selected>Select a Patient</option>
        <option *ngFor="let patient of patients" [value]="patient.id">
          <span *ngIf="patient.name.length > 0">{{patient.name[0].given[0]}} {{patient.name[0].family}}</span>
          <span *ngIf="patient.name.length == 0">{{patient.id}}</span>
        </option>
      </select>
    </ngl-select>
  </div>
  <div fxFlex fxFlexOffset="5" *ngIf="patient.name">
    <h3 class="bt">Patient Information</h3>
    <div class="box">
      <p><strong>Name:</strong> {{patient.name}}</p>
      <p><strong>Age:</strong> {{age}}</p>
      <p><strong>Gender:</strong> {{patient.gender}}</p>
    </div>
    <br>
    <h3 class="bt">Phenotypic Abnormalities</h3>
    <div class="phenotypes-table">
      <table class="slds-table_bordered slds-max-medium-table_stacked-horizontal slds-table_fixed-layout"
             ngl-datatable [data]="this.patient.observations"[(sort)]="sort" (sortChange)="onSort($event)">
        <ngl-datatable-column heading="HPO Term Id" key="code" sortable>
          <ng-template nglDatatableCell let-row="row"><b><a href="http://hpo.jax.org/app/browse/term/{{row.code}}" target="_blank">
            {{row.code}}</a></b>
          </ng-template>
        </ngl-datatable-column>
        <ngl-datatable-column heading="HPO Term Name" key="name" sortable></ngl-datatable-column>
        <ngl-datatable-column heading="Present?" key="excluded" sortable></ngl-datatable-column>
        <ngl-datatable-column heading="Starting" key="start" sortable></ngl-datatable-column>
        <ngl-datatable-column heading="Ending" key="end" sortable></ngl-datatable-column>
        <!-- No rows overlay-->
        <ng-template nglNoRowsOverlay>No data available in table!</ng-template>
      </table>
    </div>
  </div>
</div>


