.spacer {
  flex: 1;
}

.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #c0d0ec;
  color: white;
  font-weight: 600;
  & h2 {
      font-size: 1.4rem;
  }
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  padding: 1rem;
}

.bt {
  font-size: 1.4rem;
  color: #545454;
}

.phenotypes-table {
  margin: 1rem 0 0 0;
}

.box {
  border: 1px solid lightgray;
  padding: 1rem;
}

.title {
  margin-left: 1.5rem;
}

.search-container {
  margin-bottom: 2rem;
}
